* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#cursor {
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    background-color: #00000038;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.Header {
    z-index: 9;
    padding: 20px 40px;
    width: 100%;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    background-color: white;
}

.Header .Header-Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;

}

.Header .Header-Top .Logo {
    width: 118px;
    height: 24px;
}

.Header .Header-Top .input-group {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
    overflow: hidden;
}

.Header .Header-Top .input-group .search {
    width: 750px;
    height: 36px;
    outline: none;
    padding-left: 20px;
    font-size: 15px;
    border: none;
}

.Header .Header-Top .service-items {
    display: flex;
    padding: 10px;
    height: 40px;
    gap: 10px;
    align-items: center;
}

.Header .Header-Top .service-items i {
    color: #363636;
    font-size: 22px;
}

.Header .Header-Top .service-items a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
}

.Header .nav-bar-Container {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .left-side {
    display: flex;
    gap: 100px;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

#menu-slide {
    z-index: 2;
    opacity: 0;
    width: 425px;
    height: 100vh;
    position: fixed;
    left: -425px;
    top: 0;
    /* overflow: hidden; */
    background-color: white;
    transform: translate(-100%, 0);
    animation: Width-up 10s ease;
    padding: 100px 0 0;
    gap: 20px;
}

#menu-slide .logo {
    width: 170px;
    position: absolute;
    top: 20px;
    left: 10px;
}

#menu-slide ul {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

#menu-slide li {
    list-style-type: none;
    padding: 10px;
    width: 400px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    height: 60px;
    background-color: #333b421c;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#menu-slide li::after {
    width: 90px;
    height: 60px;
    content: "";
    background-color: #333b4298;
    right: -10px;
    position: absolute;
    top: -25px;
    transform: rotate(45deg)
}

#menu-slide li::before {
    width: 90px;
    height: 60px;
    content: "";
    background-color: #333b42;
    right: -30px;
    position: absolute;
    bottom: -17px;
    transform: rotate(-45deg)
}


#menu-slide a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.664);
    font-weight: 800;
    font-size: 20px;
}

#menu-slide .close {
    font-size: 34px;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
}

.menu i {
    font-size: 28px;
}

.menu a {
    text-decoration: none;
    color: #363636;
    font-size: 18px;
}

#menu-slide .phone-list-menu {
    position: fixed;
    z-index: 1;
    padding: 20px 30px 10px 5px;
    height: 65vh;
    width: 350px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    display: none;
    background-color: white;
    left: 425px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    top: 60px;
    text-align: center;
}

#menu-slide .phone-list-menu h2 {
    font-size: 30px;
    color: rgb(0, 0, 102);
    text-transform: capitalize;
    margin-top: 10px;
}

#menu-slide .phone-list-menu a {
    font-size: 12px;
}

#menu-slide .Ear-Buds-menu {
    position: fixed;
    z-index: 1;
    height: 70vh;
    width: 350px;
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: white;
    left: 425px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    top: 60px;
    text-align: center;
}

#menu-slide .Ear-Buds-menu .img-box {
    display: flex;
    flex-direction: column;
}

#menu-slide .Ear-Buds-menu img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

#menu-slide .Ear-Buds-menu a {
    color: black;

}

#menu-slide .Tab-list-menu,
#menu-slide .Smart-Tv-menu,
#menu-slide .Smart-Applineces-Menu {
    position: fixed;
    z-index: 1;
    height: 75vh;
    width: 400px;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: white;
    left: 420px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    top: 0;
    text-align: center;
}

#menu-slide .Tab-list-menu div,
#menu-slide .Smart-Tv-menu div,
#menu-slide .Smart-Applineces-Menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

#menu-slide .Tab-list-menu img,
#menu-slide .Smart-Tv-menu img,
#menu-slide .Smart-Applineces-Menu img {
    width: 120px;
    height: 100px;
}

#menu-slide .Tab-list-menu a,
#menu-slide .Smart-Tv-menu a,
#menu-slide .Smart-Applineces-Menu a {
    color: black;
}

.Header .left-side .nav {
    width: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header .left-side .nav .ul {
    display: flex;
    justify-content: space-between;
}

.Header .left-side .nav .ul .list-items {
    list-style-type: none;
    padding: 0 10px;
}

.Header .left-side .nav .ul .list-items .list-link {
    color: #363636;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.Header .left-side .nav .ul .list-items .list-link i {
    font-size: 12px;
    transform: rotate(180deg);
    transition: .5s linear;
}


.phones-list {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 150px;
    left: 0;
    background-color: white;
    display: none;
    justify-content: space-around;
    cursor: pointer;
}

.phones-list .col-6 {
    display: flex;
    justify-content: space-evenly;
}

.phones-list .col-6 .col-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.phones-list .col-3 h2 {
    margin-top: 20px;
    font-size: 28px;
}

.phones-list .col-3 a {
    text-decoration: none;
    color: #001428;
    font-size: 20px;
    transform: scale(1);

    transition: .2s linear;
}

.phones-list .col-3 a:hover {
    transform: scale(0.95);
}

.phones-list .col-4 img {
    width: 100%;
    height: 100%;
    transform: scale(0.99);
    object-fit: cover;

}

.Ear-Buds-list {
    width: 100%;
    height: 350px;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 150px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Ear-Buds-list .col-2 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .1s ease-in;
    cursor: pointer;
}

.Ear-Buds-list .col-2:hover {
    background-color: #3636361c;
}

.Ear-Buds-list .col-2 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Ear-Buds-list .col-2 a {
    border-top: 1px solid rgba(0, 0, 0, 0.322);
    width: fit-content;
    padding: 10px 10px 0;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;

}

.Tab-list {
    width: 100%;
    height: 350px;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 150px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.Tab-list .col-1 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .1s ease-in;
    cursor: pointer;
}

.Tab-list .col-1:hover {
    background-color: #3636361c;
}

.Tab-list .col-1 img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.Tab-list .col-1 a {
    margin: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.322);
    width: fit-content;
    padding: 10px 10px 0;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.Smart-Tv-list {
    width: 100%;
    height: 350px;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 150px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Smart-Tv-list .col-1 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .1s ease-in;
    cursor: pointer;
}

.Smart-Tv-list .col-1:hover {
    background-color: #3636361c;
}

.Smart-Tv-list .col-1 img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.Smart-Tv-list .col-1 a {
    margin: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.322);
    width: fit-content;
    padding: 10px 10px 0;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.Smart-Applineces-list {
    width: 100%;
    height: 350px;
    background-color: white;
    position: fixed;
    left: 0px;
    top: 150px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Smart-Applineces-list .col-1 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .1s ease-in;
    cursor: pointer;
}

.Smart-Applineces-list .col-1:hover {
    background-color: #3636361c;
}

.Smart-Applineces-list .col-1 img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.Smart-Applineces-list .col-1 a {
    margin: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.322);
    width: fit-content;
    padding: 10px 10px 0;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.Header .right-side {
    padding-right: 30px;
    display: flex;
    gap: 10px;
}

.Header .right-side a {
    color: #363636;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero img {
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-hero {
    text-align: left;
    overflow: hidden;
    padding-top: 20px;
    z-index: 1;
    position: absolute;
    transform: translate(200px, -100%);
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.left-hero .logo {
    width: 150px;
    height: 37px;
    margin-bottom: 20px;
}

.left-hero span {
    margin-bottom: 20px;
    color: white;
    font-size: 26px;
    font-weight: 800;
}

.emi-price {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    width: fit-content;
    border: 1px solid white;
}

.emi-price p {
    color: white;
    font-size: 18px;
}


.item-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories {
    width: 95%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.356);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-list {
    width: 20%;
    cursor: pointer;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.205);
    transition: .3s;
}

.categories-list:hover {
    background-color: lightgray;
}

.categories-list p {
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Items {
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
    cursor: pointer;
}

.Phone-Models {
    color: black;
    width: 534px;
    background-color: #F8F6F4;
    text-align: center;
    padding: 20px 10px;
}

.Phone-Models h1 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Phone-Models .Price {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.Phone-Models .D-Price {
    font-size: 28px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Phone-Models img {
    width: 90%;
    height: 425px;
    padding-bottom: 30px;
}

.Phone-Models button {
    font-size: 16px;
    padding: 8px 18px;
    margin-top: 25px;
    background-color: #001428;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.Advertisement {
    width: 100%;
    height: 500px;
    display: flex;
}

.Advertisement .LED-TV,
.Sound-system {
    width: 50%;
    height: 100%;
}

.Advertisement .LED-TV img,
.Sound-system img {
    width: 100%;
    height: 100%;
}


/* trending section */
.title-box {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.title-box h2 {
    font-size: 40px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.Phone-section {
    overflow: hidden;
    width: 100%;
    padding: 0px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.Phone-section .Smartphones {
    width: 320px;
    padding: 10px 0px;
    background-color: #F8F6F4;
    cursor: pointer;
    text-align: center;
}

.Smartphones img {
    width: 75%;
}

.Smartphones p {
    text-align: left;
    color: #363636;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 25px;
}

.Smartphones .Actual-price {
    font-size: 15px;
    color: #36363675;
}

.Smartphones .Current-price {
    font-size: 22px;
    margin-top: -20px;
}

.seaching-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.seaching-container .search {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.seaching-container .search h2 {
    font-size: 38px;
    margin-bottom: 40px;
}

.seaching-container .search .search-group {
    display: flex;
    align-items: center;
    background-color: #F8F6F4;
    border-radius: 18px;
    width: 330px;
    height: 36px;
    gap: 10px;

}

.seaching-container .search .search-group i {
    font-size: 20px;
}

.seaching-container .search .search-group .search-input {
    border: none;
    font-size: 15px;
    background-color: transparent;
    outline: none;
}

.seaching-container .search .phone-suggestion {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}

.seaching-container .search .phone-suggestion a {
    text-decoration: none;
    color: #363636;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 20px;
}

.seaching-container .search .phone-suggestion span {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.seaching-container .Subscription-box {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #F8F6F4;
    background-image: url(Screenshot\ 2024-07-27\ 162112.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.seaching-container .Subscription-box h2 {
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.seaching-container .Subscription-box .input-group {
    display: flex;
    width: 550px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 20px;
    overflow: hidden;
}

.seaching-container .Subscription-box .input-group input {
    border: none;
    padding-left: 40px;
    width: 390px;
    height: 50px;
    font-size: 18px;
    outline: none;
    background-color: transparent;

}

.seaching-container .Subscription-box .input-group a {
    height: 100%;
    background-color: #001428;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

footer {
    padding: 100px 20px 5px;
}

footer .social-media-section {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

footer .social-media-section .logo {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-media-section .logo p {
    font-size: 18px;
    text-align: center;
}

footer .social-media-section .logo img {
    height: 50px;
    width: 200px;
}

footer .social-media-section .social-media {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer .social-media-section .social-media .icon-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

footer .social-media-section .social-media .icon-container i {
    font-size: 28px;
    margin: 0 6px;
}

footer .social-media-section .location {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer .social-media-section .location img {
    width: 38px;
    height: 25px;
}

footer .social-media-section .location a {
    color: black;
    font-size: 18px;
}

.support-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.support-container .col-2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.support-container .col-2 p {
    color: #363636;
    margin-bottom: 20PX;
    font-size: 20px;
}

.support-container .col-2 a {
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 7px;
    color: #36363691;
}

.support-container .col-2 img {
    width: 30px;
    height: 30px;
    margin-left: 40px;
}

.copy-right-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copy-right-container span {
    color: #363636b4;
    font-size: 17px;
}

.copy-right-container span img {
    width: 70px;
    height: 35px;
}

/* Product Section discount  */
.Product-discount {
    width: 100%;
    height: 75px;
    background-color: #333B42;
    display: flex;
    justify-content: space-around;
}

.Product-discount .logo {
    width: 88px;
    height: 50px;
}

.Product-discount a {
    text-decoration: none;
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: black;

}

/* product page  */
.pages-header {
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #333B42;
    display: flex;
    align-items: center;
    position: sticky;
    top: 150px;
}

.pages-header img {
    height: 60px;
    margin-left: 150px;
}

.pages-header ul {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: lighter;
}

.pages-header ul li {
    list-style: none;
    color: white;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.pages-header h4 {
    font-size: 20px;
    color: white;
    margin-left: 600px;
    margin-top: -50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.pages-header p {
    font-size: 25px;
    color: whitesmoke;
    margin-top: 20px;
    margin-left: -325px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif\;
}

.pages-header button {
    width: 100px;
    height: 60px;
    font-size: 19px;
    background-color: white;
    border-radius: 10px;
    margin-left: 250px;
    cursor: pointer;
}

.phone-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
}

.phone-image {
    width: 50%;
    height: 80vh;
    padding: 10px;
    margin-left: 100px;
    position: fixed;
    top: 230px;
    left: 0%;
    padding-right: 40px;
}

.phone-image-box {
    width: 70%;
    height: 70vh;
    margin-left: 200px;
    padding: 10px;
}

.phone-small-images {
    width: 19%;
    height: 55vh;
    margin-bottom: -475px;
    padding: 10px;
}

.phone-small-images .small-img-box {
    width: 100%;
    height: 10vh;
    cursor: pointer;

}

.phone-small-images .small-img-box img {
    width: 100%;
    height: 90%;
}

.phone-main-image {
    width: 80%;
    height: 50vh;
    margin-left: 130px;
    margin-top: 0%;
}

.phone-main-image img {
    width: 100%;
    height: 100%;
}

.shipping-main-box {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    gap: 5px;
}

.shipping-main-box .shipping-small-box {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.shipping-main-box .shipping-small-box i {
    font-size: 25px;
}

.shipping-main-box .shipping-small-box p {
    font-size: 19px;
    color: #444444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

.product-detail-box {
    width: 50%;
    height: 75%;
    padding: 20px;
}

.product-image-box {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-box img {
    width: 170px;
    height: 40px;
}

.heading-box {
    width: 500px;
    height: 200px;
    padding: 20px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.heading-box h4 {
    font-size: 32px;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading-box h5 {
    font-size: 18px;
    color: #1E1E1E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
}

.heading-box p {
    font-size: 18px;
    color: #746f6f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    letter-spacing: 1px;
}

.color-box {
    width: 550px;
    height: 150px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.color-box .product-color {
    width: 250px;
    height: 50px;
    background-color: #E5E6E7;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.color-box .product-color p {
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.color-box .product-color .color-small-box {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 50px;
    background-color: #222431;
}

.storage-box {
    width: 550px;
    height: 200px;
    padding: 10px;
}

.storage-box p {
    font-size: 15px;
    color: #746f6f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.storage-box .product-storage {
    width: 300px;
    height: 60px;
    background-color: #E5E6E7;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.product-storage p {
    font-size: 14px;
    color: #1E1E1E;
    margin-left: 20px;
}

.pincode-box {
    width: 500px;
    height: 60px;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.pincode-box p {
    font-size: 19px;
    color: #1E1E1E;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
}

.pincode-box input {
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 19px;
    padding-left: 10px;
    border-bottom: 1px solid;
}

.offer-box {
    width: 600px;
    height: 400px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.offer-box .offer-main-box {
    width: 550px;
    height: 200px;
    background-color: #F5F5F5;
    padding: 10px;
}

.offer-main-box .main-offers {
    width: 90%;
    height: 50px;
    margin: 10px;
}

.main-offers i {
    font-size: 19px;
    color: #2F9207;
    transform: rotate(90deg);
    margin-top: 5px;
}

.main-offers p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.view-offer-box {
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
}

.view-offer-box a {
    font-size: 22px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1E1E1E;
    cursor: pointer;
    margin-left: 20px;
}

.plans-box {
    width: 45%;
    height: 100px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.plans-box .plan-content {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.plan-content p {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.plan-content-box {
    width: 95%;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plan-content-box img {
    width: 20px;
    height: 20px;
    margin: 3px;
}

.plan-content-box p {
    font-size: 10px;
}

.plan-content-box a {
    font-size: 13px;
    text-decoration: none;
    color: #1E1E1E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.more-offer-box {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0c6150;
    padding: 15px;
    margin-top: -10px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-box i {
    font-size: 17px;
    color: white;
}

.offer-content {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.offer-content h5 {
    font-size: 17px;
    color: #222431;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    margin-bottom: 30px;
}

.offer-content p {
    font-size: 15px;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -70px;
    margin-top: 25px;
}

.offer-btn {
    width: 140px;
    height: 30px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0c6150;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}

.product-price-box {
    width: 550px;
    padding: 10px;
}

.product-price-box h4 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    margin: 10px;
}

.product-price-box h6 {
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.product-price-box .price-btn {
    width: 200px;
    height: 60px;
    background-color: #001428;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
}

/* tablate size */
@media only screen and (max-width: 768px) {
    .Header {
        width: 100%;
    }

    .Header .Header-Top {
        gap: 15px;
    }

    .Header .left-side .nav {
        display: none;
    }

    .Header .Header-Top .service-items {
        gap: 4px;
    }

    .Header .Header-Top .service-items i {
        font-size: 18px;
    }

    .Header .Header-Top .service-items a {
        display: none;
    }

    .categories {
        flex-wrap: wrap;
        width: 100%;
        overflow: scroll;
        border: none;
        gap: 10px;
    }

    .categories-list {
        width: 40%;
        height: 50px;
    }

    .Items {
        flex-wrap: wrap;
        height: 700px;
        width: 100%;
    }

    .Advertisement {
        width: 100%;
        flex-wrap: wrap;
        height: 400px;
        overflow: hidden;
    }

    .Advertisement .LED-TV,
    .Advertisement .Sound-system {
        width: 100%;
        height: 100%;
    }

    .Phone-section {
        flex-wrap: wrap;
        justify-content: center;
    }

    .Phone-section .Smartphones {
        width: 300PX;
    }

    .left-hero {
        transform: translate(-240px, -100%);
        align-items: center;
    }

}

@media only screen and (max-width: 425px) {
    .Header {
        width: 100%;
        padding: 10px;
    }

    .Header .Header-Top {
        width: 100%;
        justify-content: space-around;
    }


    .Header .Header-Top .input-group {
        display: none;
    }

    .Phone-section {
        gap: 20px;
    }

    .seaching-container .search h2 {
        text-align: center;
    }

    .seaching-container .Subscription-box .input-group {
        width: 320px;
    }

    .seaching-container .Subscription-box .input-group input {
        width: 200px;
        height: 35px;
        font-size: 15px;
        padding-left: 20px;

    }

    .Advertisement {
        flex-wrap: wrap;
        height: 400px;
        width: 100%;
        overflow: hidden;
    }

    .seaching-container .Subscription-box .input-group a {
        width: 40%;
    }

    footer .social-media-section {
        gap: 20px;
    }

    footer .social-media-section .logo p {
        font-size: 15px;
    }

    footer .social-media-section .logo img {
        width: 120px;
        height: 40px;
    }

    footer .social-media-section .social-media {
        width: 300px;
        text-align: center;
    }

    footer .social-media-section .social-media .icon-container i {
        margin: 0 2px;
        font-size: 22px;
    }

    footer .social-media-section .location {
        gap: 10px;
    }

    .support-container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .support-container .col-2 {
        gap: 6px;
    }

    .support-container .col-2 p {
        font-size: 18px;
    }

    .support-container .col-2 a {
        font-size: 14px;
        text-align: justify;
    }

    .hero {
        width: 100%;
    }

    .copy-right-container {
        text-align: center;
    }

    .left-hero {
        transform: translate(-240px, -100%);
        align-items: center;
    }
}
