* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cursor {
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    background-color: #00000038;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.Header {
    z-index: 9;
    padding: 20px 40px;
    width: 100%;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    background-color: white;
}

.Header .Header-Top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;

}

.Header .Header-Top .Logo {
    width: 118px;
    height: 24px;
}

.Header .Header-Top .input-group {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    overflow: hidden;
}

.Header .Header-Top .input-group .search {
    width: 750px;
    height: 36px;
    outline: none;
    padding-left: 20px;
    font-size: 15px;
    border: none;
}

.Header .Header-Top .service-items {
    display: flex;
    padding: 10px;
    height: 40px;
    gap: 10px;
    align-items: center;
}

.Header .Header-Top .service-items i {
    color: #363636;
    font-size: 22px;
}

.Header .Header-Top .service-items a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.733);
}

.Header .nav-bar-Container {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .left-side {
    display: flex;
    gap: 100px;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

#menu-slide {
    opacity: 0;
    width: 500px;
    height: 100vh;
    position: fixed;
    left: - 500px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.637);
    transform: translate(-100%, 0);
    animation: Width-up 10s ease;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#menu-slide #list-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 60px;
    color: black;
}
#menu-slide i {
    font-size: 34px;
    padding: 5px;
    cursor: pointer;

    position: absolute;
    right: 15px;
    top: 10px;
}

.menu i {
    font-size: 28px;
}

.menu a {
    text-decoration: none;
    color: #363636;
    font-size: 18px;
}

.Header .left-side .nav {
    width: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header .left-side .nav .ul {
    display: flex;
    justify-content: space-between;
}

.Header .left-side .nav .ul .list-items {
    list-style-type: none;
    padding: 0 10px;
}

.Header .left-side .nav .ul .list-items .list-link {
    color: #363636;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.Header .left-side .nav .ul .list-items .list-link i {
    font-size: 12px;
}

.Header .right-side {
    padding-right: 30px;
    display: flex;
    gap: 20px;
}

.Header .right-side a {
    color: #363636;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.hero img {
    width: 100%;


}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-hero {
    text-align: left;

    overflow: hidden;
    padding-top: 20px;
    z-index: 1;
    position: absolute;
    transform: translate(200px, -100%);
    width: 900px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.left-hero .logo {
    width: 150px;
    height: 37px;
    margin-bottom: 20px;
}

.left-hero span {
    margin-bottom: 20px;
    color: white;
    font-size: 26px;
    font-weight: 800;
}

.emi-price {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    width: fit-content;
    border: 1px solid white;
}

.emi-price p {
    color: white;
    font-size: 18px;
}


.item-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.categories {
    width: 95%;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.356);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-list {
    width: 20%;
    cursor: pointer;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.205);
    transition: .3s;
}

.categories-list:hover {
    background-color: lightgray;
}

.categories-list p {
    font-size: 27px;
    text-align: center;
    margin-top: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Items {
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    padding: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.Phone-Models {
    width: 534px;
    background-color: #F8F6F4;
    text-align: center;
    padding: 20px 10px;
}

.Phone-Models h1 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Phone-Models .Price {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

.Phone-Models .D-Price {
    font-size: 28px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Phone-Models img {
    width: 90%;
    height: 425px;
    padding-bottom: 30px;
}

.Phone-Models button {
    font-size: 16px;
    padding: 8px 18px;
    margin-top: 25px;
    background-color: #001428;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.Advertisement {
    width: 100%;
    height: 500px;
    display: flex;
}

.Advertisement .LED-TV {
    width: 50%;
    height: 100%;
}

.Advertisement .LED-TV img {
    width: 100%;
    height: 100%;
}

.Advertisement .Sound-system {
    width: 50%;
    height: 100%;
}

.Advertisement .Sound-system img {
    width: 100%;
    height: 100%;
}

/* trending section */
.title-box {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.title-box h2 {
    font-size: 40px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.Phone-section {
    overflow: hidden;
    width: 100%;
    padding: 0px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.Phone-section .Smartphones {
    width: 320px;
    padding: 10px 0px;
    background-color: #F8F6F4;
    cursor: pointer;
    text-align: center;
}

.Smartphones img {
    width: 75%;
}

.Smartphones p {
    text-align: left;
    color: #363636;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 25px;
}

.Smartphones .Actual-price {
    font-size: 15px;
    color: #36363675;
}

.Smartphones .Current-price {
    font-size: 22px;
    margin-top: -20px;
}

.seaching-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.seaching-container .search {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.seaching-container .search h2 {
    font-size: 38px;
    margin-bottom: 40px;
}

.seaching-container .search .search-group {
    display: flex;
    align-items: center;
    background-color: #F8F6F4;
    border-radius: 18px;
    width: 330px;
    height: 36px;
    gap: 10px;

}

.seaching-container .search .search-group i {
    font-size: 20px;
}

.seaching-container .search .search-group .search-input {
    border: none;
    font-size: 15px;
    background-color: transparent;
    outline: none;
}

.seaching-container .search .phone-suggestion {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
}

.seaching-container .search .phone-suggestion a {
    text-decoration: none;
    color: #363636;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 20px;
}

.seaching-container .search .phone-suggestion span {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.seaching-container .Subscription-box {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #F8F6F4;
    background-image: url(Screenshot\ 2024-07-27\ 162112.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.seaching-container .Subscription-box h2 {
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.seaching-container .Subscription-box .input-group {
    display: flex;
    width: 550px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 20px;
    overflow: hidden;
}

.seaching-container .Subscription-box .input-group input {
    border: none;
    padding-left: 40px;
    width: 390px;
    height: 50px;
    font-size: 18px;
    outline: none;
    background-color: transparent;

}

.seaching-container .Subscription-box .input-group a {
    height: 100%;
    background-color: #001428;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

footer {
    padding: 100px 20px 5px;
}

footer .social-media-section {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

footer .social-media-section .logo {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social-media-section .logo p {
    font-size: 18px;
    text-align: center;
}

footer .social-media-section .logo img {
    height: 50px;
    width: 200px;
}

footer .social-media-section .social-media {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

footer .social-media-section .social-media .icon-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

}

footer .social-media-section .social-media .icon-container i {
    font-size: 28px;
    margin: 0 6px;
}

footer .social-media-section .location {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

footer .social-media-section .location img {
    width: 38px;
    height: 25px;
}

footer .social-media-section .location a {
    color: black;
    font-size: 18px;
}

.support-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.support-container .col-2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.support-container .col-2 p {
    color: #363636;
    margin-bottom: 20PX;
    font-size: 20px;
}

.support-container .col-2 a {
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 7px;
    color: #36363691;
}

.support-container .col-2 img {
    width: 30px;
    height: 30px;
    margin-left: 40px;
}

.copy-right-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copy-right-container span {
    color: #363636b4;
    font-size: 17px;
}

.copy-right-container span img {
    width: 70px;
    height: 35px;
}
